<div class="wrapper">

  <div class="jumbotron jumbotron-fluid" style="background-color: saddlebrown">
    <div class="container text-center">
      <img src="/assets/img/burger-clipart.png" alt="Burger" />
      <span>
        <h1 class="display-4" style="color: white; font-weight:bolder">Burger Base</h1>
        <h6 class="lead" style="color: white">Keep track of all the burgers you want and have devoured!</h6>

      </span>
    </div>
  </div>
  <div class="row">
    {{!-- not-devoured column --}}
    <div class="col-6">
      <h3 class="text-center">Burgers I Want</h3>
      {{#each burgers}}
      {{#unless devoured}}
      <h6 class="text-center">{{ burger_name }}
        <span class="input-group-btn">
          <button class="devour btn-sm btn-dark" data-id="{{id}}" type="submit" data-toggle="button"
            aria-pressed="false">Devour it</button>
        </span>
      </h6>
      {{/unless}}
      {{/each}}

    </div>

    {{!-- Devoured column --}}
    <div class="col-6">
      <h3 class="text-center">Burgers I Devoured</h3>
      {{#each burgers}}
      {{#if devoured}}
      <h6 class="text-center">{{ burger_name }}</h6>
      {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="col-sm-12 col-md-6 ">
      <h2 class="text-center">What Burger is Next?</h2>
      <form class="create-form" action="/api/burgers" method="POST">
        <div class="form-group text-center">
          <input class="form-control form-control-lg" id="burgerInput" type="text" name="burger_name"
            placeholder="Burger name">
          <button type="submit" class="btn btn-success" data-toggle="button" aria-pressed="false">Add Burger</button>
        </div>
      </form>
    </div>
  </div>
</div>

</div>