<div class="wrapper" style="background-color: burlywood">

<div class="jumbotron jumbotron-fluid" style="background-color: saddlebrown">
  <div class="container">
    <img src="/assets/img/burger-clipart.png" alt="Burger" id="jumboBurger" />
     <h1 class="display-4">Burger Base</h1>
    <p class="lead">Keep track of all the burgers you want and have devoured!</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Burgers I Want
      </div>
      <div class="card-body">
        <ul>
            {{#each burgers}}
            {{#unless devoured}}
            <li>

            <h5 class="card-title">{{ burger_name }}
            <button class="devour btn btn-primary" data-id="{{id}}">DEVOUR IT
            </button> </h5>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        Burgers I Devoured
      </div>
      <div class="card-body">
       
            <ul>
              {{#each burgers}}
              {{#if devoured}}
             <li>
               <h5>{{  burgers  }}</h5>
             </li> 
              {{/if}}
              {{/each}}
            </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-3">
  </div>
  <div class="col-4">

    <h2>What Burger is Next?</h2>
    <form class="create-form" action="/burgers/create" method="POST">
      <div class="form-group">
        <input class="form-control form-control-lg" type="text" id="add_burger" name="burger_name" placeholder="Burger name">
        <button type="button" class="btn btn-success">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="col-3">
    
  </div>
</div>
</div>