<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <img src="/public/assets/img/burger-clipart.png" alt="Burger" />
     <h1 class="display-4">Burger Base</h1>
    <p class="lead">Keep track of all the burgers you want and have devoured!</p>
  </div>
</div>
<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Burgers I Want
      </div>
      <div class="card-body">
        <ul>
          <div>
            {{#each burgers}}
            {{#unless devoured}}
            <h5 class="card-title">{{ burger }} </h5>
            <button class="devour btn btn-primary" data-id="{{id}}">DEVOUR IT
            </button>
            {{/unless}}
            {{/each}}
          </div>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">
        Burgers I Devoured
      </div>
      <div class="card-body">
        <ul>
          <div>
            <ul>
              {{#each burgers}}
              {{#if devoured}}
              <h5>{{  burgers  }}</h5>
              {{/if}}
              {{/each}}
            </ul>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">

    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label form="burgers">Burger Name:</label>
        <input class="form-control form-control-lg" type="text" id="add_burger" name="name" placeholder="What burger is next?">
        <button type="button" class="btn btn-success">Add Burger</button>
      </div>
    </form>
  </div>
  <div class="col-4">
    
  </div>
</div>