body {
    background-image: url("../img/inspiration-geometry.png");
    margin: 20px;
    padding: 2rem;
};

.jumbotron{
    display: flex;
};

.row{
    margin-bottom: 20px;
};

#jumboBurger{
    max-height: 100px;
}
