.wrapper {
    background-image: url("../img/inspiration-geometry.png");
    background-color: rgba(222, 184, 135, 0.418);
    padding: 20px;
};

h1,
.lead{
    display: flex;
    align-content: center;
    color: white;
};




